appdirs==1.4.4
atomicwrites==1.4.0
Boruta==0.3
brotlipy==0.7.0
certifi==2023.7.22
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.2
dython==0.7.4
et-xmlfile==1.1.0
fonttools==4.25.0
fqdn==1.5.1
flask==2.2.2
inflection==0.5.1
isoduration==20.11.0
jsonpointer==2.4
mistune==3.0.1
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
nbconvert==7.7.2
openpyxl==3.0.10
pandas==1.5.3
patsy==0.5.3
pep8==1.7.1
Pillow==9.4.0
ply==3.11
psutil==5.9.5
pyaml==23.7.0
pyarrow==11.0.0
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
requests==2.31.0
scikit-learn==1.3.0
scikit-optimize==0.9.0
scikit-plot==0.3.7
scipy==1.10.1
uri-template==1.3.0
urllib3==2.0.4
webcolors==1.13
webencodings==0.5.1
